header { 
    display: block;
	text-align: center;
	src: url(//fonts.googleapis.com/css?family=Fjalla+One);
	font-family: 'Fjalla One', sans-serif;
}

footer { 
    display: block;
	text-align: center;
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

