body {
    background-color: lightblue;
}

h2 {
	src: url(//fonts.googleapis.com/css?family=Fjalla+One);
	font-family: 'Fjalla One', sans-serif;
}

#rhcp {
   
	background-image: url('https://upload.wikimedia.org/wikipedia/en/5/5e/RHCP-BSSM.jpg');
	background-size:contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width:100%;
	height: 300px;

}​
